<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAMPGROUND DETAILS</title>
</head>
<body>
    <h1>Camp ground Details</h1>
    <h2><%= campground.title %> </h2>
    <h2><%= campground.location %> </h2>
<p>
    <form action="/campgrounds/<%=campground.id %>?_method=DELETE " method="POST">
        <button>DELETE CAMPGROUND</button>
    </form>
</p>
    <a href="/campgrounds">ALL CAMPGROUNDS</a>
    <a href="/campgrounds/<%=campground._id %>/edit ">EDIT CAMPGROUND</a>
</body>
</html>