<% layout('layouts/boilerPlate') %> 
 <div class="row">
     <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form">
           <div class="mb-3">
               <label class="form-label" for="title">Title</label>
               <input  class="form-control" type="text" id="title" name="campground[title]" placeholder="title" required>
           </div>
           <div class="mb-3">
            <label class="form-label" for="location">location</label>
            <input class="form-control" type="text" id="location" name="campground[location]" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Campground Price</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">R</span>
            <input type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="" name="campground[price]" required>
          </div>
        </div>
        <div class="mb-3">
            <label class="form-label"for="image">image URL</label>
            <input class="form-control" type="text" id="image" name="campground[image]" required>
        </div>
        <div class="mb-3">
            <label class="form-label"for="description">description</label>
            <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
        </div>
        <div class="mb-3">
            <button class="btn btn-success">ADD CAMPGORUND</button>
        </div>
        </form>
        <a href="/campgrounds">Back To Campgrounds</a>
    </div>
 </div>

 
